@font-face {
    font-family: roboto;
    src: url(RobotoCondensed-VariableFont_wght.ttf);
}

* {
    font-family: roboto;
    
}

body {
    background-color: #E6EFF6;
}

.container {
    position: relative;
    top: 100px;
    right: 100px;
   
    
}

.first {
    position: relative;
    left: 500px;
    border: 1px solid white;
    width: 500px;
    background-color: white;
    border-radius: 10px 10px 0px 0px;
    box-shadow: 3px 5px 10px 3px #b8bbbd ;

}

.first h4 {
    color: #4ABEBD;
}

.first h5 {
    color: #BFDF32;
}

.first p {
    color: #858691;
    font-size: 0.8em;
}

.first h4, .first h5, .first p {
    position: relative;
    left: 20px;
}

.second {
    position: relative;
    left: 500px;
    border: 1px solid #2BB3B1 ;
    width: 250px;
    height: 220px;
    background-color: #2BB3B1;
    border-radius: 0px 0px 0px 10px;
    box-shadow: 3px 3px 10px 3px #b8bbbd;
}



.second h4, .second h3, .second p, .second button {
    position: relative;
    left: 20px;
    color: white;
}

.second h3 span {
    font-size: 1.5em;
    position: relative;
    right: 10px;
    font-weight: 600;
    font-size: 1.9em;
}

.second h3 {
    position:relative;
    left: 30px;
    font-weight: 400;
    font-size: 0.9em;
}

.second h4 {
    color: white;

}

.second p {
    font-size: 0.8em;
}

.second button {
    position: relative;
    left: 24px;
    height: 40px;
    width: 200px;
    top: 15px;
    background-color: #BFDF32;
    border-style: none;
    border-radius: 5px;



}


.third {
   
    position: relative;
    left: 750px;
    bottom: 222px;
    border: 1px solid#4ABEBD;
    width: 250px;
    height: 220px;
    background-color: #4ABEBD;
    border-radius: 0px 0px 10px 0px;
    box-shadow: 3px 3px  10px #b8bbbd;
}




.third p, .third h3 {
    position: relative;
    left: 20px;
    color: white;
    
}

.third p {
    font-size: 0.8em;
}

.third h3 {
    font-size: 1.1em;
}

@media (max-width: 768px) {

    .container {
        position: relative;
        right: 300px;
        
    }
    .first {
        width: 284px;
        box-shadow: 0px 0px 0px 0px;
    }

    .second {
        box-shadow: 0px 0px 0px 0px;
        width: 284px;
        border-radius: 0px;
    }
    .third {
        position: relative;
        bottom: 0.5px;
        left: 500px;
        width: 284px;

    }
}


